{% extends 'food_recipes_app/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="container">
        <h1>{{title}}</h1>
        <p>Это учебный сайт.</p>
        <p>Цель задания: повторить и отработать на практике материал, изученный в ходе программы.<br><br>
        Проект включает в себя обязательное задание и дополнительные задания.<br>
        - Обязательное задание необходимо выполнить для получения диплома. За него ставится оценка.<br>
        - Дополнительные задание можно выполнить для портфолио и также сдать и получить обратную связь. Его выполнение полезно, но не влияет на оценку.<br><br>
        Инструменты, которые обязательно нужно использовать для обязательного задания: Python, Фреймворк Django<br><br>
        Формат сдачи: ссылка на подписанную и доступную для просмотра копию данного шаблона с выполненными заданиями в синих полях. Инструкция.<br></p>
        <p><a href="{{ repo }}">Репозиторий в github.com</a></p>
    </div>    
{% endblock %}
