{% extends 'food_recipes_app/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="mb-4">{{title}}</h1>
        <hr>
        <div class="row">
            <p>Вопрос: Нужно ли регистрироваться на сайте?</p>
            <p>Ответ: Для просмотра рецептов необязательно, но для добавления - нужна регистрация</p>
        </div>
        <hr>
        <div class="row">
            <p>Вопрос: Что делать, если нет нужного ингредиента?</p>
            <p>Ответ: Обратиться к администратору или купить платный доступ</p>
        </div>
        <hr>
        <div class="row">
            <p>Вопрос: Почему не работает поиск?</p>
            <p>Ответ: Функционал в состоянии разработки</p>
        </div>
    </div>    
{% endblock %}
