{% extends 'food_recipes_app/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="container">
        <h2>{{ title }}</h2>
        <form method="post" class="col col-lg-4 col-md-8 col-sm-12">
            {% csrf_token %}
            {{ form.as_div }}

            {% if create %}
                <button type="submit" class="btn btn-secondary">Зарегистрироваться</button>
                <button type="reset" class="btn btn-secondary">Очистить форму</button>
            {% else %}
                <button type="submit" class="btn btn-secondary">Обновить</button>
                <a href="{% url 'main' %}" class="btn btn-secondary">Отмена</a>
            {% endif %}
            
        </form>
    </div>
    
{% endblock %}
